<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cronberryIntegration</name>
	<displayName><![CDATA[Cronberry Integration]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Integrate cronberry features like Announcement, push notifications, In app notifications, post your cart , order data to cronberry console]]></description>
	<author><![CDATA[Cronberry]]></author>
	<tab><![CDATA[content_management]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
